{% extends "details_layout.html" %}
{% block details %}
    {% for detail in details %}
        <tr>
          <td>{{ detail.coin }} </td>
          <td><a href="{{ detail.chart_url }}" target="_blank">{{ detail.Cryptoname }}</a></td>
          <td>{{ detail.market_cap }}</td>
          <td>{{ detail.open }}</td>
          <td>{{ detail.close }}</td>
          <td>{{ detail.high }}</td>
          <td>{{ detail.low }}</td>
          <td>
              {% if detail.percentage_change|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change }} %</span>
              {% elif detail.percentage_change|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_last_7_days|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_last_7_days }} %</span>
              {% elif detail.percentage_change_last_7_days|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_last_7_days }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_last_7_days }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_this_month|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_this_month }} %</span>
              {% elif detail.percentage_change_this_month|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_this_month }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_this_month }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_this_year|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_this_year }} %</span>
              {% elif detail.percentage_change_this_year|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_this_year }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_this_year }} %</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_last90days|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_last90days }} %</span>
              {% elif detail.percentage_change_last90days|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_last90days }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_last90days }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_last180days|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_last180days }} %</span>
              {% elif detail.percentage_change_last180days|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_last180days }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_last180days }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_last365days|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_last365days }} %</span>
              {% elif detail.percentage_change_last365days|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_last365days }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_last365days }}</span>
              {% endif %}
          </td>
          <td>
              {% if detail.percentage_change_all|float > 0 %}
                <span class="statusGreen"> {{ detail.percentage_change_all }} %</span>
              {% elif detail.percentage_change_all|float < 0 %}
                <span class="statusRed"> {{ detail.percentage_change_all }} %</span>
              {% else %}
                <span class="statusGrey"> {{ detail.percentage_change_all }}</span>
              {% endif %}
          </td>
          <td>{{ detail.last_modified_date }}</td>
        </tr>
    {% endfor %}
{% endblock details %}
